html{
    display: block;
    overflow: visible;
}
.topDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.addDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    border-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

.mainArea{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.childDiv {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 240px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    border-color: #e0e0e0;
}